body {
    background-color: aliceblue;
}

.body {
    font-family: Arial, serif;
    min-height: calc(100vh - 20px);
    max-width: 1200px;
    margin: auto;
}

div.formLogReg {
    width: 300px;
    height: 300px;
    margin: 100px 125px 0 -125px;
    position: relative;
    /*position: absolute;
    margin: -300px 125px 0 -125px;
    top: 50%;
    */
    left: 50%;
    text-align: center;
    font-size: 13pt;
}

.fieldLogReg {
    width: 296px;
    height: 20px;
    font-size: 15px;
    text-align: center;
}

.fieldFilters {
    width: 50px;
    height: 20px;
    font-size: 15px;
    text-align: right;
}

.checkFilter {
    width: 150px;
    margin: 5px;
    height: 20px;
    font-size: 15px;
    text-align: left;
}

.calendar {
    margin: 5px;
    width: 150px;
    height: 22px;
    font-size: 15px;
    text-align: center;
}

a:link {
    color: dodgerblue;
}

a:visited {
    color: darkslateblue;
}

a:hover {
    color: #4CAF30;
}

a:active {
    color: blue;
}

.wrapper {
    min-height: calc(100vh - 110px);
    overflow: hidden;
}

.buttonLogReg {
    font-size: 16pt;
    background-color: #4CAF30;
    border: none;
    color: white;
    padding: 14px 28px;
}

.buttonLogout {
    font-size: 10pt;
    background-color: #d56e00;
    border: none;
    color: white;
    padding: 7px 14px;
    clear: both;
    margin: 10px 0 10px 10px;
}

.buttonLogin {
    font-size: 10pt;
    background-color: #4CAF30;
    border: none;
    color: white;
    padding: 7px 14px;
    clear: both;
    margin: 10px 0 10px 10px;
}

.buttonBucketMenu {
    font-size: 12pt;
    background-color: #4CAF30;
    text-decoration: underline;
    border: none;
    color: white;
    padding: 7px 14px;
    float: right;
    clear: both;
    margin: 10px 0 10px 10px;
}

.buttonBucket {
    font-size: 12pt;
    background-color: #4CAF30;
    border: none;
    color: white;
    padding: 7px 14px;
    float: right;
    clear: both;
    margin: 10px 0 10px 10px;
}
.buttonBucketSave {
    font-size: 14pt;
    background-color: #0017af;
    border: none;
    color: white;
    padding: 7px 14px;
    clear: both;
    margin: 10px 0 10px 10px;
}

.buttonBucketPay {
    font-size: 14pt;
    background-color: #4CAF30;
    border: none;
    color: white;
    padding: 7px 14px;
    clear: both;
    margin: 10px 0 10px 10px;
}

.buttonSearch {
    font-size: 16pt;
    background-color: #3f669f;
    border: none;
    color: white;
    padding: 10px 20px;
}

.buttonSearch:hover, .buttonBucketPay:hover, .buttonBucketSave:hover,
.buttonBucket:hover, .buttonBucketMenu:hover,.buttonLogout:hover, .buttonLogReg:hover, a.buttonDelete:hover,
.goBackBut:hover, .menuButton:hover, .flightInfo, .invoiceToggle, .buttonMenu:hover, .buttonLogin:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a.buttonDelete:link {
    color: white;
    text-decoration: none;
    cursor: default;
}

a.buttonDelete:visited {
    color: white;
}

a.buttonDelete:hover {
    color: white;
}

a.buttonDelete:active {
    color: white;
}

a.buttonDelete {
    font-size: 12pt;
    background-color: #af1300;
    border: none;
    color: white;
    padding: 7px 14px;
    float: right;
    clear: both;
    margin: 10px 0 10px 10px;
}

.buttonBuy {
    float: right;
}

.menuButton {
    color: white;
    background-color: #d56e00 !important;
    margin: 0px 0px 0px 10px !important;
}

.header {
    text-align: right;
}

.footer {
    text-align: center;
    height: 30px;
}

.logged {
    display: inline-flex;
    width: 100%;
}

.test {
    font-size: 15pt;
}

table {
    width: 100%;
    border-spacing: 0;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr {
    text-align: left;
}

.tableButDel {
    width: 50%;
}

tr:hover {
    background-color: rgba(219, 231, 255, 0.31);
    padding: 5px;
}

.passengerfield {
    width: 350px;
}

.buckettable {
    width: 100%;
}

.buckettable tr:hover {
    background-color: rgba(255, 255, 255, 0);
}

.buckettable th, .bucketTable td {
    border-bottom: 0;
}

.search {
    display: inline-flex;
    width: 100%;
}

p.filter {
    margin: 5px 5px 5px 0;
}

.flagesLogged {
    margin: 13px 0 13px 0;
    display: inline-flex;
}

.rightHeader {
    position: relative;
    display: flex;
    text-align: center;
    margin-left: auto;
    /*margin-top: auto;*/
    align-items: center;
}

.pairports, .pdates, .fairports, .fdates, .pnumberTickets {
    display: grid;
    margin: 0;
}

.psearchBut {
    margin-left: auto;
}

.butPay {
    float: right;
    display: inline-flex;
}

p.passengerNum {
    font-size: 13pt;
    margin: 5px 0 5px 0;
}

.passenger {
    border-bottom: 1px solid steelblue;
}

.costTotal {
    font-weight: bold;
    font-size: 20pt;
    margin: 20px 15px auto 10px;
}

.pCostTotal {
    margin: 30px auto 0;
}

.pasCost {
    display: inline-flex;
    float: right;
    margin: auto 0 auto auto;
}

.wrapOptions {
    display: inline-flex;
    width: 100%;
}

.error {
    color: #af1300;
    font-weight: bold;
}

.headerLineFlight {
    border-width: 3px;
    border-style: groove;
}

.headerLineTicket {

}

.tableBucketField {
    width: 100px;
    text-align: center;
}

.cost {
    font-weight: bold;
}

.place {
    font-weight: bold;
    margin: 0 20px 0 0;
}

.goBackBut {
    font-size: 10pt;
    background-color: #0017af;
    border: none;
    color: white;
    padding: 7px 14px;
    float: right;
    clear: both;
    margin: 10px 0 10px 10px;
}

#usernameIn {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#usernameOut {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#toggleIn {
    display: block;
}

#toggleOut {
    /*so that panel will show up under username*/
    display: block;
}

#panIn {
    position: absolute;
    width: 90px;
    top: 43px;
    text-align: center;
    display: none;
    background-color: lightyellow;
    border: 5px groove;
}

#panOut {
    position: absolute;
    width: 90px;
    top: 43px;
    display: none;
    background-color: lightyellow;
    border: 5px groove;
}

.invoiceSuccess {
    margin-top: 100px;
    text-align: center;
    font-size: 16pt;
}

.printTickets {

}

.printTickets tr:hover {
    background-color: rgba(255, 255, 255, 0);
}

p.invoices {
    text-align: center;
    font-size: 16pt;
}

button.invoiceToggle {
    font-size: 14pt;
    border: none;
    color: white;
    padding: 10px 30px;
    width: 100%;
    clear: both;
    margin: 10px 10px 10px 0;
    background-color: steelblue;
}

.ticketInfo {
    width: 48.3%;
    padding: 5px;
    display: inline-table;
    border: 3px dotted steelblue;
    margin-bottom: 5px;
}

.flightInfo {
    font-size: 14pt;
    border: none;
    color: white;
    padding: 15px 5px 1px 5px;
    width: 100%;
    clear: both;
    margin: 0px 0px 10px 0px;
    background-color: steelblue;
}

.flight {
    margin-bottom: 10px;
}

.buttonMenu {
    font-size: 11pt;
    background-color: #8BC34A;
    border: none;
    color: white;
    width: 150px;
    padding: 7px 14px;

}

.menu, .menu ul {
    list-style: none;
    margin: 0 0 0 -1px;
    padding: 0;
}

.menu li {
    position: relative;
    display: block;
    margin: -1px 1px;
    z-index: 999;
    width: 150px;
    background: aliceblue;;
    padding: 7px 0px;
}


.menu ul {
    position: absolute;
    display: none;
    left: 0;
}

.menu ul li {
    float: left;
}

.menu li.last{
    padding: 7px 0px 0px 0px;
}
p.u {
    text-decoration: underline;
}

.menuBlock {
    margin-top: 15px;
}
